* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

#about {
	margin: auto;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#projects {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-self: center;
}

.bg-1 {
	background-color: #E5FCC2;
}

.bg-2 {
	background-color: #9DE0AD;
}

.bg-3 {
	background-color: #45ADA8;
}

.bg-4 {
	background-color: #547980;
}

.bg-5 {
	background-color: #594F4F;
}

.tc-1 {
	color: #E5FCC2;
}

.tc-2 {
	color: #9DE0AD;
}

.tc-3 {
	color: #45ADA8;
}

.tc-4 {
	color: #547980;
}

.tc-5 {
	color: #594F4F;
}